.about {
   min-height: 100vh;
   margin: 150px 2.5%;
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
   align-items: flex-start;
}

.headshotContainer {
   grid-column: 1 / -1;
   margin: 0 auto;
}

.aboutInfo {
   grid-column: 1 / -1;

   h2 {
      padding-left: 3px;
      margin-bottom: -5px;
   }

   h3 {
      color: $nonBinaryGold;
      margin: 5px 0;
   }

   & > p {
      margin: 20px 0;
   }

   .button {
      // with a new button hover, should change the margin-left 5px back to 0 for better alignment
      margin: 25px 5px 55px 5px;

      &:hover, 
      &:focus {
         @include buttonInteractive($nonBinaryGold)
      }
   }
}

.skills-box {
   grid-column: 1 / -1;
   width: 90%;
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
   grid-gap: 1fr;


   h4 {
      font-size: .9rem;
      padding-left: 8px;
      width: 100%;
      grid-column: 1 / -1;
   }

   .skill {
      justify-self: flex-start;
      align-self: center;
      height: 100%;
      margin: 3px;
      padding-left: 8px;
      transition: transform .3s;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      &:hover {
         transform: scale(1.2);
         transition: transform .3s;
      }

      img {
         margin: 0 auto;
      }
   }

   p {
      font-size: .6rem;
      text-align: center;
      margin: 7px 0;
   }

   .html img, 
   .css img,
   .javascript img {
      width: 60px;
   }

   .jquery img, 
   .react img, 
   .firebase img {
      width: 70px;
   } 


   .javascript img, 
   .react img {
      padding-bottom: 3px;
   }
}