.about {
   min-height: 100vh;
   margin: 150px 0;
   display: flex;
   flex-wrap: wrap;
   align-items: center;

}
.headshotContainer, .aboutInfo {
   width: calc(50% - 10px);
}

.headshotContainer {
   margin-right: 20px;
   padding-bottom: 40px;
}

.aboutInfo {
   h2 {
      padding-left: 3px;
      margin-bottom: -10px;
   }

   h3 {
      color: $nonBinaryGold;
      margin: 5px 0;
   }

   & > p {
      margin: 20px 0;
   }

   .button {
      margin: 25px 5px 55px 5px;

      &:hover, 
      &:focus {
         @include buttonInteractive($nonBinaryGold)
      }
   }
}

.skills-box {
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;

   h4 {
      font-size: .9rem;
      padding-left: 8px;
      width: 100%;
   }

   .skill {
      align-self: flex-end;
      height: 100%;
      transition: transform .3s;

      &:hover {
         transform: scale(1.2);
         transition: transform .3s;
      }
   }

   p {
      font-size: .6rem;
      text-align: center;
      margin: 7px 0;
   }

   .html img, 
   .css img{
      width: 70%;
      margin: 0 auto;
   }

   .javascript img {
      width: 70%;
      padding-bottom: 4px;
      margin: 0 auto;
   }

   .jquery img {
      width: 60px;
   }

   .react img {
      width: 95%;
      padding-bottom: 2px;
      margin: 0 auto;
   }

   .firebase {
      width: 11%;
   } 
}