.contact {
   min-height: 90vh;
   padding: 50px 3% 40px 3%;

   h3 {
      color: $nonBinaryGold;
   }
   
   p {
      margin: 20px auto 24px auto;
   }

   .button:hover, 
   .button:focus {
      @include buttonInteractive($nonBinaryGold);
   }

   button {
      background: $background;
      border-radius: 2.5px;
      cursor: pointer;
      margin-top: 7px;
   }
}

.contactPopup {
   display: block;
   position: fixed;
   background: $background;
   top: 10%;
   right: 10%;
   left: 10%;
   bottom: 10%;
   padding: 20px;
   z-index: 10;
   box-shadow: 12px 12px $genderQueerPurple, -12px -12px $transPink;
   opacity: 0;
   overflow: scroll;
   transition: opacity .5s;

   .contactTabs {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      width: 100%;
      padding-right: 40px;
      position: relative;

      fieldset {
         border: none;
         width: 100%;
         display: flex;
         flex-wrap: wrap;
         padding: 0;
         margin: 0;
         position: relative;

         label {
            margin: 0 8px 0 8px;
            cursor: pointer;
            transition: color .3s;
            border-bottom: 2px solid $background;
            transition: border-bottom .6s, color .6s;

            &:hover, 
            &:focus {
               color: $transPink;
               transition: color .3s;
            }
         }

         .tab1:checked + label,
         .tab2:checked + label {
            border-bottom: 2px solid $transBlue;
            color: $transPink;
            transition: border-bottom .5s, color .5s;
         }
      }

      .fa-times {
         font-size: 1.5rem;
         padding: 10px;
         position: absolute;
         right: -5px;
         top: -15px;
         cursor: pointer;

         &:hover {
            color: $transPink;
         }
      }
   }

      form {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      position: relative;

      input, 
      textarea {
         background: rgba(244,208,111,.5);
         color: $background;
         font-size: .8rem;
         border: 3px solid $background;
         border-radius: 5px;
         padding: 5px;
         margin: 10px 5px;
         transition: background .3s;

         &:hover, 
         &:focus {
            background: $nonBinaryGold;
            transition: background .3s;
         }

         &::placeholder {
            color: $background;
         }
      }

      textarea {
         resize: none;
         height: 148px;
      }

      .name, 
      .email {
         width: 100%;
      }

      .subject {
         width: 100%;
      }

      .message {
         width: 105%;
      }
   }
}

.showPopup {
   opacity: 1;
   transition: opacity .5s;
}

.toggleHidden {
   visibility: hidden;
}