.contact {
   min-height: 100vh;
   padding: 50px 3%;

   h3 {
      color: $nonBinaryGold;
   }
   
   p {
      margin: 20px auto 24px auto;
   }

   .button:hover, 
   .button:focus {
      @include buttonInteractive($nonBinaryGold);
   }
}