.contact {
   min-height: 100vh;
   padding: 50px 3%;

   h3 {
      color: $nonBinaryGold;
   }
   
   p {
      margin: 20px auto 24px auto;
   }

   .button:hover, 
   .button:focus {
      @include buttonInteractive($nonBinaryGold);
   }

   button {
      background: $background;
      border-radius: 2.5px;
      cursor: pointer;
      margin-top: 7px;
   }
}

.contactPopup {
   display: block;
   position: fixed;
   background: $background;
   top: 10%;
   right: 10%;
   left: 10%;
   bottom: 10%;
   padding: 20px;
   z-index: 10;
   box-shadow: 12px 12px $genderQueerPurple, -12px -12px $transPink;
   opacity: 0;
   transition: opacity .5s;

   form {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      position: relative;

      h4 {
         width: 100%;
         text-align: left;
         padding-left: 8px;
      }

      .fa-times {
         font-size: 1.5rem;
         padding: 10px;
         position: absolute;
         right: -5px;
         top: -12px;
         cursor: pointer;

         &:hover {
            color: $transPink;
         }
      }

      input, 
      textarea {
         background: rgba(244,208,111,.5);
         color: $background;
         font-size: .8rem;
         border: 3px solid $background;
         border-radius: 5px;
         // border-bottom: 3px solid $nonBinaryGold;
         padding: 5px;
         margin: 10px 5px;
         transition: background .3s;

         &:hover, 
         &:focus {
            background: $nonBinaryGold;
            transition: background .3s;
         }
      }

      textarea {
         resize: none;
         height: 150px;
      }

      .name, 
      .email {
         width: 100%;
      }

      .subject {
         width: 100%;
      }

      .message {
         width: 105%;
      }
   }
}

.showPopup {
   // z-index: 10;
   opacity: 1;
   transition: opacity .5s;
}

.toggleHidden {
   visibility: hidden;
}