footer {
   border-top: 1px solid $white;
   padding: 40px 0;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;

   nav {
      margin: 0;
      width: 100%;

      ul {
         display: flex;
         justify-content: center;
      }
      
      li {
         font-size: .7rem;
         margin: 0 5px;
         padding: 0;

         a {
            padding: 10px;
            transition: transform .3s, color .3s;
         }

         img {
            width: 14px;
         }

         a:hover, 
         &:focus-within {
            transform: scale(1.6);
            transition: transform .3s, color .3s;
         }

         &:first-child a:hover,
         &:first-child:focus-within {
            color: $transPink;
         }

         &:nth-child(2) a:hover,
         &:nth-child(2):focus-within {
            color: $nonBinaryGold;
         }

         &:nth-child(3) a:hover,
         &:nth-child(3):focus-within {
            color: $agenderGreen;
         }

         // currently not working :'(
         &:nth-child(4) a:hover,
         &:nth-child(4):focus-within {
            color: $transBlue;
         }

         &:last-child a:hover,
         &:last-child:focus-within {
            color: $genderQueerPurple;
         }
      }
      
   }
}

.credits {
   text-align: center;
   width: 100%;
   padding: 35px 0;

   span {
      display: inline-block;
      position: relative;
      top: -1px;
      padding: 3px;
      font-size: .7rem;
   }

   a:hover,
   a:focus {
      color: $agenderGreen;
   }
}

.fa-heart {
   color: $transPink;
}

.fa-paint-brush {
   color: $agenderGreen;
}