// ===================================================
// STRIPPING OF DEFAULT STYLES
html {
   font-size: 125%;
}

h1,
h2,
h3,
h4,
p,
ul,
li,
a {
   padding: 0;
   margin: 0;
}

li {
   list-style: none;
}

a {
   display: inline-block;
   text-decoration: none;
   color: inherit;
}

img {
   display: block;
   max-width: 100%;
   height: auto;
}
// ===================================================


// ===================================================
// GLOBAL STYLING FOR SITE
body {
   background-color: $background;
   color: $white;
}

.wrapper {
   width: 95%;
   max-width: 1200px;
   margin: 0 auto;
}

.button {
   @include button();
}
// ===================================================


// ===================================================
// TYPOGRAPHY
h1 {
   @include fontStyle(2.6rem, 700, 0);
   color: $transBlue;
   }

h2, h4, .subheading {
   @include fontStyle(.8rem, 700, 3px, 2);
   text-transform: uppercase;
}

h3 {
   @include fontStyle(2.2rem, 700, 2px);
}

p {
   @include fontStyle(.6rem, 400, 0, 1.5);
}

.turkeyLogo, 
.getInTouch {
   width: 75px;
}
// ===================================================