nav {
   margin: 20px 0;

   ul {
      display: flex;
      justify-content: space-between;

      li {
         padding: 10px;
      }
   }
}

header {
   min-height: 100vh;

   .headerText {
      min-height: 70vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      h1 {
         opacity: 0;
         margin: 15px 0;
      }

      .developer, 
      .debutante, 
      .doofus {
         color: $background;
      }

      .transition {
         color: $white;
         transition: color 3s;
      }

      & p:first-child {
         text-align: center;
         opacity: 0;
      }

      & p:last-child {
         text-align: center;
      }
   }

   .skipToContent {
      width: 65px;
      margin: 0 auto;
      
      .fa-scroll {
         padding: 10px;
      }
   }
}