// ===================================================
// VARIABLES - COLORS
$background: #140E1A;
$white: #fff;

$transBlue: #5BCEFA;
$genderQueerPurple: #B57EDC;
$transPink: #F5A9B8;
$nonBinaryGold: #F4D06F;
$agenderGreen: #A2FAA3;

$straightBlue: #0868AC;
// ===================================================


// ===================================================
// MIXINS
@mixin fontStyle($size, $weight, $spacing, $height: normal) {
   font-family: 'Space Grotesk';
   font-size: $size;
   font-weight: $weight;
   letter-spacing: $spacing;
   line-height: $height;
}

@mixin button {
   @include fontStyle(.8rem, 700, 3px);
   color: $white;
   text-transform: uppercase;
   padding: 13px 25px;
   border: 2px solid $white;
   border-radius: 1px;
   transition: background-color .3s, color .3s, transform .3s;
}

@mixin buttonInteractive($sectionColor) {
   color: $sectionColor;
   border: 2px solid $sectionColor;
   transform: scaleX(1.07);
   transition: border .3s, color .3s, transform .3s;
}
// ===================================================


// ===================================================
// FONTS
@font-face {
   font-family: 'Space Grotesk';
   src: url('../../fonts/SpaceGrotesk-Regular.woff2'),
         url('../../fonts/SpaceGrotesk-Regular.woff');
   font-weight: 400;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Space Grotesk';
   src: url('../../fonts/SpaceGrotesk-Bold.woff2'),
         url('../../fonts/SpaceGrotesk-Bold.woff');
   font-weight: 700;
   font-style: normal;
   font-display: swap;
}
// ===================================================