$background: #140E1A;
$white: #fff;

$transBlue: #5BCEFA;
$genderQueerPurple: #B57EDC;
$transPink: #F5A9B8;
$nonBinaryGold: #F4D06F;
$agenderGreen: #A2FAA3;

$straightBlue: #0868AC;

@mixin button {
   font-weight: bold;
}