$background: #140E1A;
$white: #fff;

$transBlue: #5BCEFA;
$genderQueerPurple: #B57EDC;
$transPink: #F5A9B8;
$nonBinaryGold: #F4D06F;
$agenderGreen: #A2FAA3;

$straightBlue: #0868AC;

@mixin button {
   font-weight: bold;
   font-size: .8rem;
   color: $white;
   text-transform: uppercase;
   padding: 10px 15px;
   border: 2px solid $white;
   transition: background-color .3s, color .3s;
}

@mixin buttonInteractive($background, $fontColor) {
   background-color: $background;
   color: $fontColor;
   transition: background-color .3s, color .3s;
}