.projects {
   margin-top: 100px;

   h2, 
   h2 + h3 {
      text-align: center;
      margin: 0px auto;
      width: 45%;
   }

   h2 + h3 {
      color: $agenderGreen;
      // margin-bottom: 40px;
   }

   section {
      height: 100vh;
      margin: 50px 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      position: relative;

      .projectDescription {
         background: $background;
         width: 45%;
         padding: 60px 60px 60px 0;
         z-index: 10;
         display: flex;
         flex-direction: column;
         position: relative;
         left: 40px;

         h4 {
            order: -1;
         }

         p {
            margin: 20px 60px 20px 0;
         }

         .button {
            max-width: 180px;
            text-align: center;
         }
      }

      .projectImage {
         position: absolute;
         right: -31px;
         
         img {
            text-align: right;
         }
      }
   }

   .projectTwo, .projectFour {
      align-items: flex-end;

      .projectDescription {
         padding: 60px 0 60px 100px;
         position: relative;
         right: 40px;
         left: auto;
      }

      .projectImage {
         left: -31px;
      }
   }

   .projectOne {
      .projectDescription {
         border-top: 3px solid $transBlue;
      }

      h3 {
         color: $transBlue
      }

      .button:hover,
      .button:focus {
         @include buttonInteractive($transBlue); 
      }
   }

   .projectTwo {
      .projectDescription {
         border-top: 3px solid $transPink;
      }

      h3 {
         color: $transPink;
      }

      .button:hover,
      .button:focus {
         @include buttonInteractive($transPink);
      }
   }

   .projectThree {
      .projectDescription {
         border-top: 3px solid $genderQueerPurple;
      }

      h3 {
         color: $genderQueerPurple;
      }

      .button:hover,
      .button:focus {
         @include buttonInteractive($genderQueerPurple);
      }
   }

   .projectFour {
      .projectDescription {
         border-top: 3px solid $agenderGreen;
      }

      h3 {
         color: $agenderGreen;
      }

      .button:hover, 
      .button:focus {
         @include buttonInteractive($agenderGreen);
      }
   }
}

// * {border: 1px solid red;}