html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@font-face {
  font-family: 'Space Grotesk';
  src: url("../../fonts/SpaceGrotesk-1.1.6/webfont/SpaceGrotesk-Regular.woff2"), url("../../fonts/SpaceGrotesk-1.1.6/webfont/SpaceGrotesk-Regular.woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Space Grotesk';
  src: url("../../fonts/SpaceGrotesk-1.1.6/webfont/SpaceGrotesk-Bold.woff2"), url("../../fonts/SpaceGrotesk-1.1.6/webfont/SpaceGrotesk-Bold.woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html {
  font-size: 125%;
}

h1,
h2,
h3,
h4,
p,
ul,
li,
a {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  background-color: #140E1A;
  color: #fff;
}

.wrapper {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.button {
  font-family: 'Space Grotesk';
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 3px;
  line-height: normal;
  color: #fff;
  text-transform: uppercase;
  padding: 10px 25px;
  border: 2px solid #fff;
  border-radius: 1px;
  -webkit-transition: background-color .3s, color .3s, -webkit-transform .3s;
  transition: background-color .3s, color .3s, -webkit-transform .3s;
  transition: background-color .3s, color .3s, transform .3s;
  transition: background-color .3s, color .3s, transform .3s, -webkit-transform .3s;
}

h1 {
  font-family: 'Space Grotesk';
  font-size: 9.6rem;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  color: #5BCEFA;
}

h2, h4, .subheading {
  font-family: 'Space Grotesk';
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 3px;
  line-height: 2;
  text-transform: uppercase;
}

h3 {
  font-family: 'Space Grotesk';
  font-size: 3.6rem;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: normal;
}

h4 {
  font-family: 'Space Grotesk';
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 4px;
  line-height: 2;
}

p {
  font-family: 'Space Grotesk';
  font-size: 0.8rem;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.5;
}

nav {
  margin: 20px 0;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav ul li {
  padding: 10px;
  font-size: 2.2rem;
}

nav ul .turkeyLogo {
  color: #A2FAA3;
}

nav ul .getInTouch {
  color: #F5A9B8;
}

header {
  min-height: 100vh;
}

header .headerText {
  height: 75vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .headerText p:first-child {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-left: 108px;
}

header .headerText p:last-child {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-right: 108px;
}

header .skipToContent {
  font-size: 2.2rem;
  color: #B57EDC;
  text-align: center;
}

header .skipToContent .fa-scroll {
  padding: 10px;
}

.about {
  min-height: 100vh;
  margin: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.headshotContainer, .aboutInfo {
  width: calc(50% - 10px);
}

.headshotContainer {
  margin-right: 20px;
}

.aboutInfo h3 {
  color: #F4D06F;
  margin: 5px 0;
}

.aboutInfo > p {
  margin: 15px 0;
}

.aboutInfo .button {
  margin: 15px 5px 30px 5px;
}

.aboutInfo .button:hover, .aboutInfo .button:focus {
  color: #F4D06F;
  border: 2px solid #F4D06F;
  -webkit-transform: scaleX(1.07);
          transform: scaleX(1.07);
  -webkit-transition: border .3s, color .3s, -webkit-transform .3s;
  transition: border .3s, color .3s, -webkit-transform .3s;
  transition: border .3s, color .3s, transform .3s;
  transition: border .3s, color .3s, transform .3s, -webkit-transform .3s;
}

.skills-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.skills-box h4 {
  width: 100%;
}

.skills-box .skill {
  -ms-flex-item-align: end;
      align-self: flex-end;
  height: 100%;
}

.skills-box p {
  text-align: center;
  margin: 7px 0;
}

.skills-box .javascript img {
  width: 150%;
  padding-bottom: 4px;
}

.skills-box .jquery div {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: #0868AC;
  padding-bottom: 3px;
}

.skills-box .react img {
  width: 80px;
  padding-bottom: 3px;
}

.skills-box .firebase {
  width: 15%;
}

.projects {
  margin-top: 100px;
}

.projects h2,
.projects h2 + h3 {
  text-align: center;
  margin: 0px auto;
  width: 45%;
}

.projects h2 + h3 {
  color: #A2FAA3;
}

.projects section {
  height: 100vh;
  margin: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
}

.projects section .projectDescription {
  background: #140E1A;
  width: 45%;
  padding: 60px 60px 60px 0;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  left: 20px;
}

.projects section .projectDescription h4 {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.projects section .projectDescription p {
  margin: 20px 60px 20px 0;
}

.projects section .projectDescription .button {
  max-width: 180px;
  text-align: center;
}

.projects section .projectImage {
  position: absolute;
  right: -63px;
}

.projects section .projectImage img {
  text-align: right;
}

.projects .projectTwo, .projects .projectFour {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.projects .projectTwo .projectDescription, .projects .projectFour .projectDescription {
  padding: 60px 0 60px 80px;
  position: relative;
  right: 20px;
  left: auto;
}

.projects .projectTwo .projectImage, .projects .projectFour .projectImage {
  left: -63px;
}

.projects .projectOne .projectDescription {
  border-top: 3px solid #5BCEFA;
}

.projects .projectOne h3 {
  color: #5BCEFA;
}

.projects .projectOne .button:hover,
.projects .projectOne .button:focus {
  color: #5BCEFA;
  border: 2px solid #5BCEFA;
  -webkit-transform: scaleX(1.07);
          transform: scaleX(1.07);
  -webkit-transition: border .3s, color .3s, -webkit-transform .3s;
  transition: border .3s, color .3s, -webkit-transform .3s;
  transition: border .3s, color .3s, transform .3s;
  transition: border .3s, color .3s, transform .3s, -webkit-transform .3s;
}

.projects .projectTwo .projectDescription {
  border-top: 3px solid #F5A9B8;
}

.projects .projectTwo h3 {
  color: #F5A9B8;
}

.projects .projectTwo .button:hover,
.projects .projectTwo .button:focus {
  color: #F5A9B8;
  border: 2px solid #F5A9B8;
  -webkit-transform: scaleX(1.07);
          transform: scaleX(1.07);
  -webkit-transition: border .3s, color .3s, -webkit-transform .3s;
  transition: border .3s, color .3s, -webkit-transform .3s;
  transition: border .3s, color .3s, transform .3s;
  transition: border .3s, color .3s, transform .3s, -webkit-transform .3s;
}

.projects .projectThree .projectDescription {
  border-top: 3px solid #B57EDC;
}

.projects .projectThree h3 {
  color: #B57EDC;
}

.projects .projectThree .button:hover,
.projects .projectThree .button:focus {
  color: #B57EDC;
  border: 2px solid #B57EDC;
  -webkit-transform: scaleX(1.07);
          transform: scaleX(1.07);
  -webkit-transition: border .3s, color .3s, -webkit-transform .3s;
  transition: border .3s, color .3s, -webkit-transform .3s;
  transition: border .3s, color .3s, transform .3s;
  transition: border .3s, color .3s, transform .3s, -webkit-transform .3s;
}

.projects .projectFour .projectDescription {
  border-top: 3px solid #A2FAA3;
}

.projects .projectFour h3 {
  color: #A2FAA3;
}

.projects .projectFour .button:hover,
.projects .projectFour .button:focus {
  color: #A2FAA3;
  border: 2px solid #A2FAA3;
  -webkit-transform: scaleX(1.07);
          transform: scaleX(1.07);
  -webkit-transition: border .3s, color .3s, -webkit-transform .3s;
  transition: border .3s, color .3s, -webkit-transform .3s;
  transition: border .3s, color .3s, transform .3s;
  transition: border .3s, color .3s, transform .3s, -webkit-transform .3s;
}

.contact {
  min-height: 100vh;
  text-align: center;
  padding-top: 50px;
}

.contact h3 {
  color: #F4D06F;
}

.contact p {
  width: 50%;
  margin: 60px auto;
}

.contact .button:hover,
.contact .button:focus {
  color: #F4D06F;
  border: 2px solid #F4D06F;
  -webkit-transform: scaleX(1.07);
          transform: scaleX(1.07);
  -webkit-transition: border .3s, color .3s, -webkit-transform .3s;
  transition: border .3s, color .3s, -webkit-transform .3s;
  transition: border .3s, color .3s, transform .3s;
  transition: border .3s, color .3s, transform .3s, -webkit-transform .3s;
}

footer {
  border-top: 1px solid #fff;
  padding: 70px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer nav {
  margin: 0;
}

footer nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer nav li {
  font-size: .7rem;
  margin: 0 5px;
  padding: 0;
}

footer nav li a {
  padding: 10px;
}

footer nav li:first-child a:hover, footer nav li:first-child:focus-within {
  color: #F5A9B8;
}

footer nav li:nth-child(2) a:hover, footer nav li:nth-child(2):focus-within {
  color: #F4D06F;
}

footer nav li:nth-child(3) a:hover, footer nav li:nth-child(3):focus-within {
  color: #A2FAA3;
}

footer nav li:nth-child(4) a:hover, footer nav li:nth-child(4):focus-within {
  color: #5BCEFA;
}

footer nav li:last-child a:hover, footer nav li:last-child:focus-within {
  color: #B57EDC;
}

.credits {
  text-align: center;
  position: relative;
  left: 90px;
  font-size: .8rem;
}

.credits span {
  display: inline-block;
  padding: 3px;
}

.credits a:hover,
.credits a:focus {
  color: #A2FAA3;
}

.fa-heart {
  color: #F5A9B8;
}

.fa-eye {
  color: #A2FAA3;
}
