html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@font-face {
  font-family: 'Space Grotesk';
  src: url("../../fonts/SpaceGrotesk-Regular.woff2"), url("../../fonts/SpaceGrotesk-Regular.woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Space Grotesk';
  src: url("../../fonts/SpaceGrotesk-Bold.woff2"), url("../../fonts/SpaceGrotesk-Bold.woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html {
  font-size: 125%;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
p,
ul,
li,
a {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  background-color: #140E1A;
  color: #fff;
}

.wrapper {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
}

.button {
  font-family: 'Space Grotesk';
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 3px;
  line-height: normal;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  padding: 13px 25px;
  border: 2px solid #fff;
  border-radius: 1px;
  -webkit-transition: background-color .3s, color .3s, -webkit-transform .3s;
  transition: background-color .3s, color .3s, -webkit-transform .3s;
  transition: background-color .3s, color .3s, transform .3s;
  transition: background-color .3s, color .3s, transform .3s, -webkit-transform .3s;
}

h1 {
  font-family: 'Space Grotesk';
  font-size: 2.6rem;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  color: #5BCEFA;
}

h2, h4, .subheading, .tab {
  font-family: 'Space Grotesk';
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 3px;
  line-height: 2;
  text-transform: uppercase;
}

h3 {
  font-family: 'Space Grotesk';
  font-size: 2.2rem;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: normal;
}

p {
  font-family: 'Space Grotesk';
  font-size: 0.6rem;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.5;
}

nav {
  margin: 20px 0;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav ul li {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .getInTouch {
  width: 100px;
}

nav .getInTouch a {
  padding: 5px;
  width: 100%;
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

nav .getInTouch a:hover, nav .getInTouch afocus {
  -webkit-transform: rotate(182deg);
          transform: rotate(182deg);
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.turkeyLogo img {
  width: 75px;
}

header {
  min-height: 100vh;
}

header .headerText {
  min-height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .headerText h1 {
  color: #140E1A;
  margin: 25px 0 20px 0;
}

header .headerText .developer,
header .headerText .debutante,
header .headerText .doofus,
header .headerText .subheading {
  color: #140E1A;
}

header .headerText .transition {
  color: #fff;
  -webkit-transition: color 3s;
  transition: color 3s;
}

header .headerText .transitionBlue {
  color: #5BCEFA;
  -webkit-transition: color 3s;
  transition: color 3s;
}

header .headerText p:first-child {
  text-align: center;
}

header .headerText p:last-child {
  text-align: center;
}

header .skipToContent {
  width: 65px;
  margin: 0 auto;
}

header .skipToContent .fa-scroll {
  padding: 10px;
}

.about {
  min-height: 100vh;
  margin: 150px 2.5%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(50px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.headshotContainer {
  grid-column: 1 / -1;
  margin: 0 auto;
}

.aboutInfo {
  grid-column: 1 / -1;
}

.aboutInfo h2 {
  padding-left: 3px;
  margin-bottom: -5px;
}

.aboutInfo h3 {
  color: #F4D06F;
  margin: 5px 0;
}

.aboutInfo > p {
  margin: 20px 0;
}

.aboutInfo .button {
  margin: 25px 5px 55px 5px;
}

.aboutInfo .button:hover, .aboutInfo .button:focus {
  color: #F4D06F;
  border: 2px solid #F4D06F;
  -webkit-transform: scaleX(1.07);
          transform: scaleX(1.07);
  -webkit-transition: border .3s, color .3s, -webkit-transform .3s;
  transition: border .3s, color .3s, -webkit-transform .3s;
  transition: border .3s, color .3s, transform .3s;
  transition: border .3s, color .3s, transform .3s, -webkit-transform .3s;
}

.skills-box {
  grid-column: 1 / -1;
  width: 90%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(70px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
  grid-gap: 1fr;
}

.skills-box h4 {
  font-size: .9rem;
  padding-left: 8px;
  width: 100%;
  grid-column: 1 / -1;
}

.skills-box .skill {
  justify-self: flex-start;
  -ms-flex-item-align: center;
      align-self: center;
  height: 100%;
  margin: 3px;
  padding-left: 8px;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.skills-box .skill:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.skills-box .skill img {
  margin: 0 auto;
}

.skills-box p {
  font-size: .6rem;
  text-align: center;
  margin: 7px 0;
}

.skills-box .html img,
.skills-box .css img,
.skills-box .javascript img {
  width: 60px;
}

.skills-box .jquery img,
.skills-box .react img,
.skills-box .firebase img {
  width: 70px;
}

.skills-box .javascript img,
.skills-box .react img {
  padding-bottom: 3px;
}

.projects {
  margin-top: 20vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(50px, 1fr))[6];
      grid-template-columns: repeat(6, minmax(50px, 1fr));
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.projects .heading,
.projects .description {
  grid-column: 1 / -1;
  padding: 20px 2.5%;
}

.projects h3 {
  color: #A2FAA3;
}

.projects .imageContainer {
  grid-column: 1 / -1;
  -ms-grid-column-align: center;
      justify-self: center;
}

.projects .imageContainer img {
  width: auto;
}

.projects .description {
  background: #140E1A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20vh;
}

.projects .description h4 {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.projects .description p {
  margin: 12px 0 21px 0;
}

.projects .description .button {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-right: 20px;
}

.projectOne.description {
  border-top: 3px solid #B57EDC;
}

.projectOne.description h3 {
  color: #B57EDC;
}

.projectOne.description .button:hover,
.projectOne.description .button:focus {
  color: #B57EDC;
  border: 2px solid #B57EDC;
  -webkit-transform: scaleX(1.07);
          transform: scaleX(1.07);
  -webkit-transition: border .3s, color .3s, -webkit-transform .3s;
  transition: border .3s, color .3s, -webkit-transform .3s;
  transition: border .3s, color .3s, transform .3s;
  transition: border .3s, color .3s, transform .3s, -webkit-transform .3s;
}

.projectTwo.description {
  border-top: 3px solid #F5A9B8;
}

.projectTwo.description h3 {
  color: #F5A9B8;
}

.projectTwo.description .button:hover,
.projectTwo.description .button:focus {
  color: #F5A9B8;
  border: 2px solid #F5A9B8;
  -webkit-transform: scaleX(1.07);
          transform: scaleX(1.07);
  -webkit-transition: border .3s, color .3s, -webkit-transform .3s;
  transition: border .3s, color .3s, -webkit-transform .3s;
  transition: border .3s, color .3s, transform .3s;
  transition: border .3s, color .3s, transform .3s, -webkit-transform .3s;
}

.projectThree.description {
  border-top: 3px solid #5BCEFA;
}

.projectThree.description h3 {
  color: #5BCEFA;
}

.projectThree.description .button:hover,
.projectThree.description .button:focus {
  color: #5BCEFA;
  border: 2px solid #5BCEFA;
  -webkit-transform: scaleX(1.07);
          transform: scaleX(1.07);
  -webkit-transition: border .3s, color .3s, -webkit-transform .3s;
  transition: border .3s, color .3s, -webkit-transform .3s;
  transition: border .3s, color .3s, transform .3s;
  transition: border .3s, color .3s, transform .3s, -webkit-transform .3s;
}

.projectFour.description {
  border-top: 3px solid #A2FAA3;
}

.projectFour.description h3 {
  color: #A2FAA3;
}

.projectFour.description .button:hover,
.projectFour.description .button:focus {
  color: #A2FAA3;
  border: 2px solid #A2FAA3;
  -webkit-transform: scaleX(1.07);
          transform: scaleX(1.07);
  -webkit-transition: border .3s, color .3s, -webkit-transform .3s;
  transition: border .3s, color .3s, -webkit-transform .3s;
  transition: border .3s, color .3s, transform .3s;
  transition: border .3s, color .3s, transform .3s, -webkit-transform .3s;
}

.projectFour.description .winnie {
  color: #A2FAA3;
  border-radius: 10px;
  -webkit-transition: background-color .3s, color .3s, padding .3s;
  transition: background-color .3s, color .3s, padding .3s;
}

.projectFour.description .winnie:hover, .projectFour.description .winnie:focus {
  color: #140E1A;
  background-color: #A2FAA3;
  padding: 0 7px;
  -webkit-transition: background-color .3s, color .3s, padding .3s;
  transition: background-color .3s, color .3s, padding .3s;
}

.contact {
  min-height: 90vh;
  padding: 50px 3% 40px 3%;
}

.contact h3 {
  color: #F4D06F;
}

.contact p {
  margin: 20px auto 24px auto;
}

.contact .button:hover,
.contact .button:focus {
  color: #F4D06F;
  border: 2px solid #F4D06F;
  -webkit-transform: scaleX(1.07);
          transform: scaleX(1.07);
  -webkit-transition: border .3s, color .3s, -webkit-transform .3s;
  transition: border .3s, color .3s, -webkit-transform .3s;
  transition: border .3s, color .3s, transform .3s;
  transition: border .3s, color .3s, transform .3s, -webkit-transform .3s;
}

.contact button {
  background: #140E1A;
  border-radius: 2.5px;
  cursor: pointer;
  margin-top: 7px;
}

.contactPopup {
  display: block;
  position: fixed;
  background: #140E1A;
  top: 10%;
  right: 10%;
  left: 10%;
  bottom: 10%;
  padding: 20px;
  z-index: 10;
  -webkit-box-shadow: 12px 12px #B57EDC, -12px -12px #F5A9B8;
          box-shadow: 12px 12px #B57EDC, -12px -12px #F5A9B8;
  opacity: 0;
  overflow: scroll;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}

.contactPopup .contactTabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  padding-right: 40px;
  position: relative;
}

.contactPopup .contactTabs fieldset {
  border: none;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  margin: 0;
  position: relative;
}

.contactPopup .contactTabs fieldset label {
  margin: 0 8px 0 8px;
  cursor: pointer;
  -webkit-transition: color .3s;
  transition: color .3s;
  border-bottom: 2px solid #140E1A;
  -webkit-transition: border-bottom .6s, color .6s;
  transition: border-bottom .6s, color .6s;
}

.contactPopup .contactTabs fieldset label:hover, .contactPopup .contactTabs fieldset label:focus {
  color: #F5A9B8;
  -webkit-transition: color .3s;
  transition: color .3s;
}

.contactPopup .contactTabs fieldset .tab1:checked + label,
.contactPopup .contactTabs fieldset .tab2:checked + label {
  border-bottom: 2px solid #5BCEFA;
  color: #F5A9B8;
  -webkit-transition: border-bottom .5s, color .5s;
  transition: border-bottom .5s, color .5s;
}

.contactPopup .contactTabs .fa-times {
  font-size: 1.5rem;
  padding: 10px;
  position: absolute;
  right: -5px;
  top: -15px;
  cursor: pointer;
}

.contactPopup .contactTabs .fa-times:hover {
  color: #F5A9B8;
}

.contactPopup form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}

.contactPopup form input,
.contactPopup form textarea {
  background: rgba(244, 208, 111, 0.5);
  color: #140E1A;
  font-size: .8rem;
  border: 3px solid #140E1A;
  border-radius: 5px;
  padding: 5px;
  margin: 10px 5px;
  -webkit-transition: background .3s;
  transition: background .3s;
}

.contactPopup form input:hover, .contactPopup form input:focus,
.contactPopup form textarea:hover,
.contactPopup form textarea:focus {
  background: #F4D06F;
  -webkit-transition: background .3s;
  transition: background .3s;
}

.contactPopup form input::-webkit-input-placeholder,
.contactPopup form textarea::-webkit-input-placeholder {
  color: #140E1A;
}

.contactPopup form input:-ms-input-placeholder,
.contactPopup form textarea:-ms-input-placeholder {
  color: #140E1A;
}

.contactPopup form input::-ms-input-placeholder,
.contactPopup form textarea::-ms-input-placeholder {
  color: #140E1A;
}

.contactPopup form input::placeholder,
.contactPopup form textarea::placeholder {
  color: #140E1A;
}

.contactPopup form textarea {
  resize: none;
  height: 148px;
}

.contactPopup form .name,
.contactPopup form .email {
  width: 100%;
}

.contactPopup form .subject {
  width: 100%;
}

.contactPopup form .message {
  width: 105%;
}

.contactPopup .displayed {
  height: 90%;
}

.contactPopup .calendlyDisplay {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contactPopup .calendlyDisplay .largeButton {
  margin: 0 25px;
  width: 335px;
  background-color: #F4D06F;
  color: #140E1A;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  font-size: .7rem;
  text-align: center;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
}

.contactPopup .calendlyDisplay .largeButton:hover p:first-child,
.contactPopup .calendlyDisplay .largeButton:focus p:first-child {
  text-decoration: underline;
}

.contactPopup .calendlyDisplay .largeButton:hover, .contactPopup .calendlyDisplay .largeButton:focus {
  background-color: #F5A9B8;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
}

.contactPopup .calendlyDisplay .largeButton p {
  margin: 0 auto;
  text-align: center;
}

.contactPopup .calendlyDisplay .largeButton p:first-child {
  font-weight: 700;
  text-transform: uppercase;
}

.showPopup {
  opacity: 1;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}

.toggleHidden {
  visibility: hidden;
}

footer {
  border-top: 1px solid #fff;
  padding: 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer nav {
  margin: 0;
  width: 100%;
}

footer nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer nav li {
  font-size: 1rem;
  margin: 0 5px;
  padding: 0;
}

footer nav li a {
  padding: 10px;
  -webkit-transition: color .3s, -webkit-transform .3s;
  transition: color .3s, -webkit-transform .3s;
  transition: transform .3s, color .3s;
  transition: transform .3s, color .3s, -webkit-transform .3s;
}

footer nav li img {
  width: 14px;
}

footer nav li a:hover, footer nav li:focus-within {
  -webkit-transform: scale(1.6);
          transform: scale(1.6);
  -webkit-transition: color .3s, -webkit-transform .3s;
  transition: color .3s, -webkit-transform .3s;
  transition: transform .3s, color .3s;
  transition: transform .3s, color .3s, -webkit-transform .3s;
}

footer nav li:first-child a:hover, footer nav li:first-child:focus-within {
  color: #F5A9B8;
}

footer nav li:nth-child(2) a:hover, footer nav li:nth-child(2):focus-within {
  color: #F4D06F;
}

footer nav li:nth-child(3) a:hover, footer nav li:nth-child(3):focus-within {
  color: #5BCEFA;
}

.credits {
  text-align: center;
  width: 100%;
  padding: 35px 0;
}

.credits span {
  display: inline-block;
  position: relative;
  top: -1px;
  padding: 3px;
  font-size: .7rem;
}

.credits a:hover,
.credits a:focus {
  color: #A2FAA3;
}

.fa-heart {
  color: #F5A9B8;
}

.fa-paint-brush {
  color: #A2FAA3;
}

@media (min-width: 375px) {
  h1 {
    font-size: 3.2rem;
  }
  h2, h4, .subheading {
    font-size: 1rem;
  }
  h3 {
    font-size: 2.4rem;
  }
  p {
    font-size: .8rem;
  }
}

@media (min-width: 768px) {
  h1 {
    font-size: 6.8rem;
  }
  .headerText p:first-child {
    text-align: left;
    -ms-flex-item-align: start;
        align-self: flex-start;
    padding-left: 7%;
  }
  .headerText p:last-child {
    text-align: right;
    -ms-flex-item-align: end;
        align-self: flex-end;
    padding-right: 5%;
  }
  .about {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(50px, 1fr))[12];
        grid-template-columns: repeat(12, minmax(50px, 1fr));
    grid-gap: 5px;
  }
  .headshotContainer {
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
    grid-column: 1 / span 6;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .aboutInfo {
    -ms-grid-column: 7;
    -ms-grid-column-span: 6;
    grid-column: 7 / span 6;
  }
  .skills-box {
    -ms-grid-column: 7;
    -ms-grid-column-span: 6;
    grid-column: 7 / span 6;
    -ms-grid-columns: (minmax(85px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(85px, 1fr));
  }
  .projects {
    -ms-grid-columns: (minmax(52px, 1fr))[12];
        grid-template-columns: repeat(12, minmax(52px, 1fr));
  }
  .projects .heading {
    text-align: center;
    padding-bottom: 40px;
  }
  .projects .description {
    grid-column: 2 / -2;
    position: relative;
    top: -50px;
    padding: 40px 40px 0 40px;
  }
  .projects .description p {
    margin: 22px 0 31px 0;
  }
  .contact {
    text-align: center;
  }
  .contact p {
    width: 50%;
  }
}

@media (min-width: 1200px) {
  header .headerText h1 {
    font-size: 9.6rem;
    margin-bottom: -10px;
  }
  h2, h4, .subheading {
    font-size: 1.2rem;
  }
  h3 {
    font-size: 3.2rem;
  }
  .turkeyLogo,
  .getInTouch {
    width: 100px;
  }
  .projects {
    -ms-grid-columns: (minmax(65px, 1fr))[12];
        grid-template-columns: repeat(12, minmax(65px, 1fr));
    grid-gap: 30px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .projects h2 + h3 {
    max-width: 50%;
    margin: 0 auto;
  }
  .projects .description {
    margin-bottom: 0;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    position: static;
  }
  .projects .imageContainer {
    margin: 20vh 0;
  }
  .projects .projectOne.description,
  .projects .projectThree.description {
    -ms-grid-column: 2;
    -ms-grid-column-span: 6;
    grid-column: 2 / span 6;
    padding: 20px 15% 30px 0;
  }
  .projects .projectOne.imageContainer,
  .projects .projectThree.imageContainer {
    grid-column: 7 / -1;
  }
  .projects .projectTwo.description,
  .projects .projectFour.description {
    -ms-grid-column: 6;
    -ms-grid-column-span: 7;
    grid-column: 6 / span 7;
    padding: 20px 0 30px 10%;
    margin-right: 10%;
  }
  .projects .projectTwo.description h3,
  .projects .projectFour.description h3 {
    font-size: 2.7rem;
  }
  .projects .projectTwo.imageContainer,
  .projects .projectFour.imageContainer {
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
    grid-column: 1 / span 6;
  }
  .projects .projectOne {
    -ms-grid-row: 2;
    grid-row: 2;
  }
  .projects .projectTwo {
    -ms-grid-row: 3;
    grid-row: 3;
  }
  .projects .projectThree {
    -ms-grid-row: 4;
    grid-row: 4;
  }
  .projects .projectFour {
    -ms-grid-row: 5;
    grid-row: 5;
  }
  footer {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  footer .turkeyLogo, footer .credits, footer nav {
    width: 30%;
  }
  footer nav ul {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}
